*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkslategray;
    display: flex;
    min-height: 100vh;
    justify-items: center;
    align-items: center;
}
.container{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0px;
    border: 1px solid grey;
    border-radius: 9px;
}
.container h1{
    padding-bottom: 3rem;
}
.container input{
    height: 2rem;
}

.container button{
    padding: 5px 6px;
    color: darkslategray;
    background-color: white;
    border: 1px solid darkslategray;
    border-radius: 3px;
    transition: 200ms;
}
.container button:hover{
    color: white;
    background-color: darkslategray;
    transition: 200ms;
}
.dispOut{
padding-top: 2rem;
}
